.clock{
  margin-top: 110px;
  width: 400px;
  margin-left: 400px;
 text-align: center;
 border-radius: 10px;
  border:solid  #D3D3D3;
  box-shadow: 5px 10px black;
  
}


.clock h2{
  color:#AAB7B8 ;
}